{% extends "blog/base.html" %}

{% block title %}
    Search
{% endblock %}

{% block content %}
    {% if query %}
        <h1>Search Result for "{{ query }}"</h1>
        <h3>
            {% with results.count as total_results %}
                {{ total_results }} result{{ total_results|pluralize }}
            {% endwith %}
        </h3>

        {% for post in results %}
            <h3>
                <a href="{{ post.get_absolute_url }}">
                    {{ post.title }}
                </a>
            </h3>
            <p>
                {{ post.body|truncatewords:10 }}
            </p>
        {% empty %}
            <p>
                There are no results.
            </p>
        {% endfor %}

        <p>
            <a href="{% url "blog:post_search" %}">
                search again
            </a>
        </p>
    {% else %}
            <form method="get">
                {{ form.as_p }}
                <input type="submit" value="search" />
            </form>
    {% endif %}
{% endblock %}